<div class="center-container">

  <p-card>

    <ng-template pTemplate="header">
      <div class="card-header-custom">
        Cadastro de Disciplina
      </div>
    </ng-template>

    <form #form="ngForm" autocomplete="off" (ngSubmit)="cadastrarDisciplina(form)">

      <div class="flex flex-wrap col-12 mb-3">
           <p-button icon="pi pi-plus" routerLink="/disciplina" label="Voltar"></p-button>

      </div>

      <div class="grid justify-content-center">
        <span class="col-12 -mb-3 text-center">Nome</span>
        <div class="col-12 md:col-6 lg:col-4">
          <input
            pInputText
            name="nome"
            #nome="ngModel"
            [(ngModel)]="disciplina.nome"
            type="text"
            required>
        </div>

        <span class="col-12 -mb-3 text-center">Carga Horária</span>
        <div class="col-12 md:col-6 lg:col-4">
          <input
            pInputText
            name="cargaHoraria"
            #cargaHoraria="ngModel"
            [(ngModel)]="disciplina.cargaHoraria"
            type="text"
            required>
        </div>

        <div class="col-12 mt-4 flex justify-content-center">
          <button
            pButton
            type="submit"
            label="Salvar"
            [disabled]="form.invalid"
            routerLink="/disciplina">
          </button>
        </div>
      </div>

    </form>
  </p-card>
</div>
