
<div class="center-container">


 <div>
  <div class="grid">
    <span class="col-12 -mb-3">Email</span>
    <div class="col-12 md:col-6 lg:col-4">
    </div>

      <label for="password1" class="block text-900 font-medium mb-2">Senha</label>
      <input id="password1" type="password"  pInputText class="w-full mb-3">

      <div class="flex flex-wrap col-12 mb-3">
        <button
          pButton
          type="button"
          class="p-button p-button-raised"
          icon="pi pi-caret-left"
          pTooltip="Voltar"
          tooltipPosition="top"
          label="Voltar"
          routerLink="/alunos">
        </button>
      </div>
  




  </div>

</div>


